@import "../vendor/mixins";
@import "../vendor/variables";

.family-item,
.family-list {
  padding: 2rem;
}

.family-header,
.family-progressbar {
  @include justifyFlex(space-between);
}

.family-list {
  display: flex;
  flex-direction: column;
}

.family-item {
  width: 100%;
  margin-top: 1rem;
  background-color: gainsboro;

  &:first-child {
    margin: 0;
  }
}

.family-header {
  margin-bottom: 3rem;
}

.family-avatar {
  @include justifyFlex(left);
  @include flexVerticalCenter();
  max-width: 40rem;
}

.family-avatar__title {
  margin-left: 2rem;
}

.family-progressbar {
  max-width: 30rem;
}