@import "../vendor/variables";
@import "../vendor/mixins";

.header-inner,
.header-profile {
  @include justifyFlex(space-between);
}

.header {
  height: 7rem;
  padding: 2rem 0;

  background: linear-gradient(to right, $color-purple-dark, $color-purple);
  color: $color-white;

  grid-area: header;
}

.header-inner {
  @include flexVerticalCenter();
}

.header-profile {
  min-width: 20rem;
}