@import "../vendor/mixins";
@import "../vendor/variables";

.home {
  height: 100vh;
  padding: 3rem 0;
}

.home-header {
  @include flexVerticalCenter();
  margin-left: 4rem;
}

.home-profile {
  margin-left: 2rem;
}

.home-body {
  @include justifyFlex(space-around);
  margin-top: 5rem;
}

.home-tasks {
  background-color: $color-light-gray;
  width: 45%;
  padding: 3rem;
}

.home__title {
  font-size: 3rem;
  text-align: center;
}

.home-list {
  margin-top: 2rem;
}

.home-item {
  margin: 2rem 0;
  padding: 1rem 2rem;

  height: 4rem;
  background-color: $color-blue-gray;
  border-radius: 20px;
  cursor: pointer;

  transition: $common-transition;

  &:hover {
    background-color: $color-lily;
  }
}