@import "../vendor/mixins";
@import "../vendor/variables";

.home {
  background-color: $color-blue-gray;
  height: 100vh;
  padding: 3rem 0;
}

.home-header {
  @include flexVerticalCenter();
}

.home-profile {
  margin-left: 2rem;
}

.home-body {
  @include justifyFlex(space-between);
  margin-top: 5rem;
}

.home-tasks {
  padding: 0 1.5rem;
  background-color: $color-lily;
  width: 45%;
}

.home__title {
  font-size: 3rem;
  text-align: center;
}

.home-list {
  margin-top: 2rem;
}

.home-item {
  margin: 2rem 0;
  padding: 1rem;

  height: 4rem;
  background-color: $color-orange-dusty;
  cursor: pointer;

  transition: $common-transition;

  &:hover {
    background-color: $color-eggplant;
  }
}