@import "../vendor/mixins";
@import "../vendor/variables";

.home-header,
.home-body {
  display: flex;
}

.home {
  background-color: #212121;
  height: 100vh;
  padding: 3rem 0;
}

.home-header {
  align-items: center;
}

.home-profile {
  margin-left: 2rem;
}

.home-body {
  justify-content: space-between;
  margin-top: 5rem;
}

.home-tasks {
  padding: 0 1.5rem;
  background-color: gray;
  width: 45%;
}

.home-tasks__title {
  font-size: 3rem;
  text-align: center;
}

.home-tasks-list {
  margin-top: 2rem;
}

.home-tasks-item {
  margin: 2rem 0;
  padding: 1rem;

  height: 4rem;
  background-color: lightslategray;
  cursor: pointer;

  transition: $common-transition;

  &:hover {
    background-color: salmon;
  }
}