@import "../vendor/mixins";
@import "../vendor/variables";

.notes {
  padding: 5rem 0;
}

.notes-header {
  @include justifyFlex(space-between);
}

.notes__btn {
  font-size: 1.3rem !important;
  border-radius: 1rem !important;
}

.notes__input {
  width: 80%;

  * {
    font-size: inherit !important;
  }
}

.notes-body {
  margin-top: 5rem;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
}

.notes-item {
  flex: 0 1 35rem;
  margin: 1rem 0.25em;
}

.notes-card {
  min-width: 27.5rem;
  height: 20rem;
}

.notes__typography {
  font-size: 2rem !important;
}

.notes-modal {
  @include setWidthHeight(90rem, 45rem);

  background-color: $color-white;
  border: 2px solid $color-black;
  padding: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notes-modal-footer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.notes-modal__btn {
  background-color: $color-green-success !important;
  color: $color-white !important;
  text-transform: inherit !important;
  font-size: 1.6rem !important;
}

.notes-modal__input {
  width: 100%;
  font-size: inherit !important;
}

.notes-modal__textarea {
  @include setWidthHeight(100% !important, 50% !important);
  font-size: inherit !important;

  margin: 3rem 0;
  padding: 1.5rem;

  border: none;
  background-color: $color-light-gray;

  &:focus {
    outline: none;
  }
}