@import "../vendor/mixins";
@import "../vendor/variables";

.sidebar {
  @include setWidthHeight(auto, 100%);
  background: linear-gradient($color-purple-dark, $color-purple);
  border-top: 0.5rem solid $color-purple-dark;

  font-size: 2rem;
  text-align: center;
  color: $color-white;
  padding: 2rem 0;

  grid-area: sidebar;
}

.sidebar-list {
  margin-top: 3rem;
}

.sidebar__image {
  margin: 0 auto;
}

.sidebar__nickname {
  font-size: 1.6rem;
  margin-top: 1.3rem;
}

.sidebar-item {
  padding: 2rem 0;
  border-bottom: 1px solid $color-purple;
  transition: 0.3s ease-in-out;

  &:first-child {
    border-top: 1px solid $color-purple;
    margin: 0;
  }

  &:hover {
    background-color: rgba($color-purple, 0.7);
  }
}

.sidebar__link {
  width: 100%;
  padding: 1rem;
  color: $color-blue-lite;
  transition: 0.3s ease-in-out;
}

.sidebar__link:hover {
  color: $color-white;
}