@import "scss/blocks/header";
@import "scss/blocks/sidebar";
@import "scss/blocks/home";

@import "scss/vendor/variables";

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  color: $colo-white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 120rem;
  width: 100%;

  margin: 0 auto;
  padding: 0 1.5rem;
}